title: christerbeke.com
description: Bio and Portfolio of Chris ter Beke
permalink: pretty

include: ['_pages']

exclude:
  - Gemfile
  - Gemfile.lock
  - gulpfile.js
  - node_modules
  - package.json
  - package-lock.json
  - README.md
  - src
  - tailwind.js

defaults:
  - scope:
      path: ""
    values:
      body_class: "default"