{% include header.html %}

{% include navigation.html %}

<div class="container px-4 mx-auto pt-4">
	<div class="row">
		<h1 class="text-grey-darkest leading-loose font-serif">{{ page.title }}</h1>
		<p class="text-grey-dark leading-loose">
			<strong>{{ page.date | date: "%B %e, %Y" }}</strong> .
			{{ page.tags | join: ", " }}
    	</p>
	</div>
	<div class="row">
		<div class="text-black">{{ content }}</div>
	</div>
	<div class="row text-right">
		<a class="text-grey-darker text-sm no-underline hover:underline" href="{{site.github.repository_url}}/blob/master/{{page.path}}">
			Edit this page
		</a>
	</div>
</div>

{% include footer.html %}
